/* General Styles */

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(113, 116, 119);
    justify-content: center;
    align-items: center;
}

li {
    font-size: 10px;
    color: rgb(122, 151, 141);
    text-align: center;
}

.welcome-message {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 15px;
    width: 100%;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    width: 100%;
}

.switch {
    position: relative;
    top: 45px;
    left: 90%;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    border-radius: 34px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

header {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: start;
}

.start-and-score {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.score {
    top;
    position: relative;
    margin: 10px;
}

.score-count {
    background-color: ;
    margin-left: 18px;
}

.start-button {
    position: relative;
    top: 50px;
    left: 745%;
    margin: 10px;
}

/* Correct and Wrong messages styling */

.congratulations-message {
    display: none;
    color: darkgreen;
    font-size: 1.5rem;
}

.wrong-message {
    display: none;
    color: rgb(161, 33, 33);
    font-size: 1.5rem;
}


/* Piano Styles */

h3 {
    padding-left: 101px;
    color: white;
}

.power {
    position: relative;
    margin-left: 100pxpx;
    margin-top: 23px;
}

.piano-outline {
    margin-top: 125px;
    border-radius: 15px;
    width: 415px;
    height: 209px;
    background-color: rgb(0, 0, 0);
    display: flex;
}

/* Piano Key Styles */

.keys {
    position: absolute;
    justify-content: flex-start;
    align-items: end;
    display: flex;
    height: 12rem;
    list-style: none;
}

/* White Key Styles */

.white-key {
    outline: solid black 1.5px;
    height: 120px;
    width: 3rem;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.white-key.active {
    background-color: #c0c0c0;
}

/* Black Key Styles */

.black-key {
    background: linear-gradient(to right, rgb(0, 0, 0),rgb(56, 55, 55));
    outline: solid black 1.5px;
    border-radius: 0 0 5px 5px;
    width: 1.5rem;
    height: 90px;
    margin: 0 -12px;
    position: absolute;
}

.black-key.active {
    background-image: linear-gradient(#000000, #101010);
}

li:nth-of-type(2) {
    position: absolute;
    left: 88px;
    top: 72px;
}

li:nth-of-type(4) {
    position: absolute;
    left: 136px;
    top: 72px;
}

li:nth-of-type(7) {
    position: absolute;
    left: 231px;
    top: 72px;
}

li:nth-of-type(9) {
    position: absolute;
    left: 279px;
    top: 72px;
}

li:nth-of-type(11) {
    position: absolute;
    left: 327px;
    top: 72px;
}